#
# This configuration file is custom generated for National Library of Ireland
#
# For full documentation of agent configuration options, please refer to
# https://docs.newrelic.com/docs/agents/ruby-agent/installation-configuration/ruby-agent-configuration

common: &default_settings
  # Required license key associated with your New Relic account.
  license_key: <%= @newrelic_license_key %>

  # Your application name. Renaming here affects where data displays in New
  # Relic.  For more details, see https://docs.newrelic.com/docs/apm/new-relic-apm/maintenance/renaming-applications
  app_name: <%= @app_name %>

  # To disable the agent regardless of other settings, uncomment the following:
  agent_enabled: <%= @agent_enabled %>

  # Logging level for log/newrelic_agent.log
  log_level: <%= @log_level %>


<%= @environment %>:
  <<: *default_settings
